# Add Python module requirements, one per line, to be installed
# in the tests/venv Python virtual environment. For more info,
# refer to: https://pip.pypa.io/en/stable/user_guide/#id1
-e git+https://github.com/avocado-framework/avocado@a45eb0520892bd261c0b44220f536779d761aa10#egg=avocado_framework
